# standard 
pytest
pytest-cov
pylint
black
ipython
# standard py app specific
confuse
setuptools
# app specific 
great-expectations
click 
fastapi 
uvicorn[standard] 
# my packages
git+https://github.com/dexplorer/utils#egg=utils
